.cspt-blogbox-style-1 {
    margin-bottom: 30px
}

.cspt-blogbox-style-1 .cspt-featured-container {
    position: relative
}

.cspt-blogbox-style-1 .creativesplanet-box-content {
    padding-top: 20px
}

.cspt-blogbox-style-1 .creativesplanet-box-content .cspt-post-title {
    font-size: 22px;
    line-height: 30px
}

.cspt-blogbox-style-1 .creativesplanet-box-content .cspt-post-title a {
    color: #222
}

.cspt-blogbox-style-1 .post-item .cspt-read-more-link a {
    color: #232323;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    position: relative
}

.cspt-blogbox-style-1 .cspt-meta-container {
    margin-bottom: 7px;
    font-size: 16px
}

.cspt-blogbox-style-1 .creativesplanet-box-desc {
    margin-top: 15px
}

.cspt-blogbox-style-1 .cspt-meta-container .cspt-meta-line {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px
}

.cspt-blogbox-style-1 .cspt-meta-container .cspt-meta-line:after {
    content: ".";
    display: inline-block;
    position: absolute;
    top: -4px;
    right: -15px;
    font-size: 20px;
    line-height: 20px
}

.cspt-blogbox-style-1 .cspt-meta-container .cspt-meta-line:last-child:after {
    display: none
}

.cspt-blogbox-style-1 .cspt-meta-container .cspt-meta-line:first-child {
    margin-left: 0
}

.cspt-blogbox-style-1 .post-item .cspt-read-more-link a:after {
    background-color: #000
}

.cspt-blogbox-style-1 .post-item .cspt-read-more-link a:before,
.cspt-blogbox-style-1 .creativesplanet-box-content .cspt-post-title a:hover,
.cspt-blogbox-style-1 .cspt-meta-container .cspt-meta-line,
.cspt-blogbox-style-1 .cspt-meta-container .cspt-meta-line a {
    color: var(--cspt-greenly-global-color)
}

.cspt-blogbox-style-1 .post-item .cspt-read-more-link a:after {
    background-color: var(--cspt-greenly-global-color)
}